---
title: Turnly
---
extends layouts/_layout
block content
	.main
		.header.js-header#header
			.header__center.center
				button.header__burger.js-header-burger
					span
				a.header__logo(href="#")
					img.header__pic(src="img/logo.svg" alt="")
				.header__wrap.js-header-wrap
					.header__photo
						img.header__pic(src="img/menu-pic.png" alt="")
				a.header__btn.btn.btn_pink(href="login.html") Get Started
			.header__bg.js-header-bg
		.main__center.center
			.main__wrap
				h1.main__title.title.title_big(data-aos)
					span.title__box
						span.title__text A modern
					span.title__box
						span.title__text <span class="title__line">Queue</span>
					span.title__box
						span.title__text Management
					span.title__box
						span.title__text Systems<span class="title__color">.</span>
				.main__info.info(data-aos="animation-scale-y" data-aos-delay="400") Turnly helps businesses save their customers time waiting...
				.main__control(data-aos="animation-scale-y" data-aos-delay="550")
					a.main__btn.btn.btn_purple(href="login.html") Get Started
					a.main__link(href="#")
						.main__icon
							img.main__pic(src="img/play.svg" alt="")
						.main__text See It In Action!
			.main__view(data-aos)
				.main__preview
					img.main__pic(src="img/main-pic-3.png" alt="")
			.main__circles
				.main__circle
				.main__circle.js-rellax(data-rellax-speed="2")
				.main__circle.js-rellax(data-rellax-speed="1")
				.main__circle.js-rellax(data-rellax-speed="2")
				//- .main__circle.js-rellax(data-rellax-speed=".3")
				//- .main__circle.js-rellax(data-rellax-speed="1")
	.work
		.work__center.center
			.work__head
				.work__stage.stage Customer Experience
				h2.work__title.title <span class="title__color">Increase<br> Customer</span> satisfaction
			.work__details(data-aos="animation-translate-y" data-aos-duration="800")
				.work__icon
					img.work__pic(src="img/balls.svg" alt="")
				.work__text Let your personalized Turnly assistant do the heavy lifting while you focus on creating.
				a.work__link(href="#") Find out more
		.work__hands
			.work__hand(data-aos data-aos-duration="800" data-aos-offset="0")
				img.work__pic.js-parallax(data-scale="1.2" data-orientation="down" src="img/hand-2.png" alt="")
			.work__hand(data-aos data-aos-duration="800" data-aos-offset="0")
				img.work__pic.js-parallax(data-scale="1.3" data-orientation="up" src="img/hand-3.png" alt="")
		.work__wave
			img.work__pic(src="img/wave.svg" alt="")
		.work__preview(data-aos data-aos-duration="600")
			img.work__pic(src="img/work-pic.png" alt="")
		.work__circles
			.work__circle.js-rellax(data-rellax-speed="1")
			.work__circle
			.work__circle.js-rellax(data-rellax-speed="-1")
			.work__circle
			.work__circle
		.work__cursor(data-aos)
			img.work__pic(src="img/cursor.png" alt="")
	.teams
		.teams__center.center
			.teams__head(data-aos="animation-scale-y")
				.teams__stage.stage Team Turnly oration Redefined
				h2.teams__title.title Helping world-class teams design faster together<span class="title__color">.</span>
		.teams__circle.js-rellax(data-rellax-speed="1")
	.demo
		.demo__center.center
			.demo__head(data-aos="animation-scale-y")
				.demo__icon 🔥
				.demo__info We offer flexible pricing options for freelancers and design teams.
			.demo__list
				.demo__item(data-aos="animation-translate-y")
					h3.demo__title.title.title_sm Schedule  <br>Product <br>Demo
					.demo__text Still not sure? Schedule a demo to see how Turnly can help you get more done.
					a.demo__btn.btn.btn_purple.js-popup-open(href="#popup-contact" data-effect="mfp-zoom-in") Schedule a Demo
				.demo__item(data-aos="animation-translate-y" data-aos-delay="200")
					h3.demo__title.title.title_sm Get <br>Started <br>Now
					.demo__text Ready to revolutionize your design workflow? Try Turnly for free for 30 days.
					a.demo__btn.btn.btn_white.js-popup-open(href="#popup-contact" data-effect="mfp-zoom-in") Try free for 30 days
		.demo__circle.js-rellax(data-rellax-speed="1")
	.offer
		.offer__center.center
			.offer__container
				.offer__head
					h2.offer__title.title(data-aos="animation-scale-y") Ready to use the smartest design tool?
					.offer__info.info(data-aos="animation-scale-y" data-aos-delay="150") We offer flexible pricing options for freelancing and design teams.
					.offer__btn(data-aos="animation-scale-y" data-aos-delay="300")
						a.btn.btn_white.js-popup-open(href="#popup-contact" data-effect="mfp-zoom-in") Try free for 30 days
				.offer__circles
					.offer__circle
					.offer__circle
			.offer__circle
	.footer.js-footer
		.footer__center.center
			.footer__bottom
				a.footer__company(href="https://turnly.app" target="_blank")
				.footer__copyright © 2022, Turnly Labs.
				a.footer__scroll.js-link-scroll(href="#header")
					.footer__icon
						img.footer__pic(src="img/scroll.svg" alt="")
					.footer__text Back to top
