---
title: Turnly
---
extends layouts/_layout
block content
	.main
		.header.js-header#header
			.header__center.center
				button.header__burger.js-header-burger
					span
				a.header__logo(href="#")
					img.header__pic(src="img/logo.svg" alt="")
				.header__wrap.js-header-wrap
					.header__photo
						img.header__pic(src="img/menu-pic.png" alt="")
				a.header__btn.btn.btn_pink(href="https://omuxushx5fa.typeform.com/to/iTaTfvCg" target="_blank") Get Started
			.header__bg.js-header-bg
		.main__center.center
			.main__wrap
				h1.main__title.title.title_big(data-aos)
					span.title__box
						span.title__text A modern
					span.title__box
						span.title__text <span class="title__line">Queue</span>
					span.title__box
						span.title__text Management
					span.title__box
						span.title__text Systems<span class="title__color">.</span>
				.main__info.info(data-aos="animation-scale-y" data-aos-delay="400") Increase customer throughput and satisfaction.
				.main__control(data-aos="animation-scale-y" data-aos-delay="550")
					a.main__btn.btn.btn_purple(href="https://omuxushx5fa.typeform.com/to/iTaTfvCg" target="_blank") Get Started
					a.main__link(href="#")
						.main__icon
							img.main__pic(src="img/play.svg" alt="")
						.main__text See It In Action!
			.main__view(data-aos)
				.main__preview
					img.main__pic(src="img/main-pic-3.png" alt="")
			.main__circles
				.main__circle
				.main__circle.js-rellax(data-rellax-speed="2")
				.main__circle.js-rellax(data-rellax-speed="1")
				.main__circle.js-rellax(data-rellax-speed="2")
	.work
		.work__center.center
			.work__head
				.work__stage.stage Customer Engagement
				h2.work__title.title You <span class="title__color">+</span> Turnly <span class="title__color">=</span><span class="title__color"> Top match!</span>
			.work__details(data-aos="animation-translate-y" data-aos-duration="800")
				.work__text Turnly helps businesses save their customers time waiting in physical queues by eliminating legacy number-taking systems. Customers join from their smart device to a web widget-based system.
		.work__hands
			.work__hand(data-aos data-aos-duration="800" data-aos-offset="0")
				img.work__pic.js-parallax(data-scale="1.2" data-orientation="down" src="img/hand-2.png" alt="")
			.work__hand(data-aos data-aos-duration="800" data-aos-offset="0")
				img.work__pic.js-parallax(data-scale="1.3" data-orientation="up" src="img/hand-3.png" alt="")
		.work__wave
			img.work__pic(src="img/wave.svg" alt="")
		.work__preview(data-aos data-aos-duration="600")
			img.work__pic(src="img/work-pic.png" alt="")
		.work__circles
			.work__circle.js-rellax(data-rellax-speed="1")
			.work__circle
			.work__circle.js-rellax(data-rellax-speed="-1")
			.work__circle
			.work__circle
		.work__cursor(data-aos)
			img.work__pic(src="img/cursor.png" alt="")
	.teams
		.teams__center.center
			.teams__head(data-aos="animation-scale-y")
				h2.teams__title.title Provide the best customer experience for your visitors<span class="title__color">.</span>
		.teams__circle.js-rellax(data-rellax-speed="1")
	.footer.js-footer
		.footer__center.center
			.footer__bottom
				a.footer__company(href="https://turnly.app" target="_blank")
				.footer__copyright © 2022, Turnly Labs.
				a.footer__scroll.js-link-scroll(href="#header")
					.footer__icon
						img.footer__pic(src="img/scroll.svg" alt="")
					.footer__text Back to top
