---
title: Login Up
---
extends layouts/_layout
block content
	.entry.entry_variants
		.entry__center.center
			.entry__head
				a.entry__logo(href="index.html")
					img.entry__pic.entry__pic_white(src="img/logo-white.svg" alt="")
					img.entry__pic.entry__pic_black(src="img/logo.svg" alt="")
				a.entry__link(href="#") Not a member?
				button.entry__btn.btn.btn_pink Sign up now
			.entry__body
				.entry__row
					.entry__details
						.entry__title.title.title_sm The world most powerful design tool.
						.entry__info Create your own website with the Fastest Page Building Platform.
						.entry__hand
							img.entry__pic(src="img/entry-pic-1.png" alt="")
					.entry__form
						.entry__title.title.title_sm Let the team work in same place<span class="title__color">.</span>
						.entry__info Most powerful design tool.
						.entry__btns
							button.entry__btn.btn.btn_border
								img.btn__pic(src="img/google.svg" alt="")
								span.btn__text Sign in with Google
							a.entry__btn.btn.btn_purple(href="sign-up.html") Sign in with your email
						.entry__links
							a.entry__link(href="#") Not a member? Sigup now
							a.entry__link(href="#") Forget password?
			.entry__foot
				a.entry__author(href="https://ui8.net/" target="_blank")
					.entry__text A product by
					.entry__icon
						img.entry__pic(src="img/ui8.svg" alt="")
		.entry__bg
			img.entry__pic(src="img/entry-circle.svg" alt="")
		.entry__cube
			img.entry__pic(src="img/cube.png" alt="")
		.entry__circles
			.entry__circle
			.entry__circle
			.entry__circle
			.entry__circle
			.entry__circle





