---
title: Sign Up
---
extends layouts/_layout
block content
	.entry.entry_solo
		.entry__center.center
			.entry__head
				a.entry__logo(href="index.html")
					img.entry__pic.entry__pic_white(src="img/logo-white.svg" alt="")
					img.entry__pic.entry__pic_black(src="img/logo.svg" alt="")
				a.entry__link(href="#") Not a member?
				button.entry__btn.btn.btn_pink Sign up now
			.entry__body
				.entry__row
					.entry__details
						.entry__title.title.title_sm The world most powerful design tool.
						.entry__info Create your own website with the Fastest Page Building Platform.
						.entry__img
							img.entry__pic(src="img/entry-pic-2.png" alt="")
					form.entry__form
						.entry__title.title.title_sm Sign in to Collab<span class="title__color">.</span>
						.entry__info Enter your detail below
						.entry__field.field
							.field__label Username or Email
							.field__wrap
								.field__icon
									img.field__pic(src="img/sending-mail.svg" alt="")
								input.field__input(type="email" name="email" placeholder="Email")
						.entry__field.field
							.field__line
								.field__label Password
								a.field__link(href="#") Forget password?
							.field__wrap
								.field__icon
									img.field__pic(src="img/lock.svg" alt="")
								input.field__input(type="password" name="password" placeholder="Password")
						button.entry__btn.btn.btn_purple(type="submit") Sign in
						.entry__links
							a.entry__link(href="#") Not a member? Sigup now
			.entry__foot
				a.entry__author(href="https://ui8.net/" target="_blank")
					.entry__text A product by
					.entry__icon
						img.entry__pic(src="img/ui8.svg" alt="")
		.entry__bg
			img.entry__pic(src="img/entry-circle.svg" alt="")
		.entry__cube
			img.entry__pic(src="img/cube.png" alt="")
		.entry__circles
			.entry__circle
			.entry__circle
			.entry__circle
			.entry__circle
			.entry__circle





