//- Description no longer than 155 characters
meta(name="description" content="Visually Stunning Responsive HTML Template for Design Startups") 
//- Twitter Card data
meta(name="twitter:card" content="summary")
meta(name="twitter:site" content="@ui8")
meta(name="twitter:title" content="Collab") 
meta(name="twitter:description" content="Visually Stunning Responsive HTML Template for Design Startups") 
meta(name="twitter:creator" content="@ui8")
//- Twitter Summary card images must be at least 120x120px
meta(name="twitter:image" content="https://ui8-collab.herokuapp.com/img/twitter-card.jpg")
//- Open Graph data
meta(property="og:title" content="Collab")
meta(property="og:type" content="Article")
meta(property="og:url" content="https://ui8.net/ui8/products/collab-design-startup-template") 
meta(property="og:image" content="https://ui8-collab.herokuapp.com/img/fb-og-image.jpg")
meta(property="og:description" content="Visually Stunning Responsive HTML Template for Design Startups" ) 
meta(property="og:site_name" content="Collab") 
meta(property="fb:admins" content="132951670226590")